.border-img1,
.border-img2 {
   position: relative;
   z-index: 1;
}
.border-img1::before {
   bottom: -21px;
   left: -21px;
}
.border-img2::before {
   top: 21px;
   left: 21px;
}
.border-img1::before,
.border-img2::before {
   content: "";
   display: block;
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 100%;
   border: 2px solid #ccc;
}